<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Spring Boot x Thymeleaf</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/custom-style.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <header class="text-center mb-4">
        <h1 class="display-4">Bienvenue sur notre site</h1>
        <p class="lead">Accédez à notre gestion d'utilisateurs ou connectez-vous.</p>
    </header>


    <main>
        <div th:if="${message}">
            <h2 class="text-center alert alert-info" th:text="${message}"></h2>
        </div>

        <div sec:authorize="hasRole('ROLE_USER')" class="card text-white bg-info mb-3">
            <div class="card-header">User Panel</div>
            <div class="card-body">
                <h5 class="card-title">Bienvenue</h5>
                <p class="card-text">Que voulez-vous faire aujourd'hui ?</p>
            </div>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')" class="card text-white bg-warning mb-3">
            <div class="card-header">Admin Panel</div>
            <div class="card-body">
                <h5 class="card-title">Bienvenue, Administrateur</h5>
                <p class="card-text">Vous avez un accès complet à la gestion des utilisateurs.</p>
                <a href="/user/list" class="btn btn-light">User Management</a>

            </div>
        </div>

        <div sec:authorize="!isAuthenticated()" class="card text-center border-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Pas encore connecté ?</h5>
                <button onclick="location.href='/oauth2/authorization/github'" class="btn btn-dark m-2">Login avec GitHub</button>
                <div class="alert alert-warning">
                    <p>Vous devez vous connecter pour accéder à cette page.</p>
                    <a href="/login" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()" class="card border-success">
            <div class="card-body">
                <h5 class="card-title">Profil de l'utilisateur</h5>
                <p>Rôle(s) : <span sec:authentication="authorities"></span></p>
                <div>
                    <p>Utilisateur connecté : <strong th:inline="text">[[${#httpServletRequest.remoteUser}]]</strong></p>
                    <form th:action="@{/app-logout}" method="POST">
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>